/Swing/nbproject/private/
/JavaFXSwingApplication1/nbproject/private/
/Swing/build/
/Lab2/nbproject/private/
/Lab2/build/
/Tutorial/nbproject/private/
/Tutorial/build/
/EditorDeTexto/nbproject/private/
/EditorDeTexto/build/
/Atividade1Danilo/nbproject/private/
/Atividade1Danilo/build/
/Atividade2Danilo/nbproject/private/
/Atividade2Danilo/build/
/JavaFXInicial/nbproject/private/
/JavaFXInicial/build/
/LeituraEscrita/nbproject/private/
/LeituraEscrita/build/
/AtividadeRevisao/nbproject/private/
/AtividadeRevisao/build/